---
layout: none
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $BACKGROUND-COLOR;

  font: bold $TEXT-SIZE $FONT-SANS;
  color: $TEXT-COLOR;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;
  font-size: inherit;

  color: $LINK-COLOR;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

svg {
  width: 100%;
  height: 100%; 
}

.calendar-svg {
  position: relative;
  pointer-events: all;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.clickButton {
  pointer-events: all;
  cursor: pointer;
  stroke: #00000000 !important;
}

.center-text-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
  pointer-events: none;
}

.center-text {
  max-width: 25%;
  padding: 4px 12px;
  font-size: 32px;
  text-align: center;
  color: #fff;
  mix-blend-mode: difference;
}
