<title>{{ page.title }}</title>

<meta name="description" content="{{site.title}} - {{subtitle}}">
<meta name="keywords" content="independent publications">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' data:; media-src 'self'; frame-src player.vimeo.com www.youtube.com www.youtube-nocookie.com; frame-ancestors 'self'; script-src 'self'; font-src 'self' data: maxcdn.bootstrapcdn.com; style-src 'self' 'unsafe-inline' maxcdn.bootstrapcdn.com; base-uri 'self'; form-action 'self';">

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/media/favicons/favicon.ico">
