<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta property="og:description" content="{{ site.title }} - {{ site.subtitle }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="article:publisher" content="{{ site.social.facebook }}">

{% assign basepath = site.url | append: site.baseurl %}
{% assign coverImagePath = basepath | append: "/media/images/covers/cover.jpg" %}

<meta property="og:image" content="{{ coverImagePath }}">
<meta name="description" content="{{ site.title }}: {{ page.title }}">
